@import "./colors.scss";
@import "./fonts.scss";

body {
  background: $off-white;
}

img {
  max-width: 100%;
}

.text {
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
}

.dark-text {
  @extend .text;
  color: $greyish-brown;
}

.light-text {
  @extend .text;
  color: $off-white;
}

.container-fluid {
  padding: 0;
}

.top-wave {
  height: 65px;
  width: 100%;
  background: url("../assets/top-wave.png");
  margin-top: -5px;
}

.bottom-wave {
  height: 65px;
  width: 100%;
  background: url("../assets/bottom-wave.png");
}

.nav {
  background-image: url("../assets/bottom-wave.png");
  background-repeat: repeat-x;
  height: 65px;
  align-items: center;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  &__mobile-icon {
    display: block;
    cursor: pointer;

    img {
      padding: 8px 4px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__menu,
  &__language {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      display: inline;

      a {
        display: inline;
        font-family: "Fira Sans";
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
      }
    }
  }

  &__menu a {
    color: $off-white;
  }

  &__language {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;

    a {
      color: $off-white;
    }

    &_active {
      color: #bca78b !important;
    }
  }

  &__menu li:not(:last-child) {
    margin-right: 60px;
  }

  &__language li:not(:last-child) {
    margin-right: 30px;
  }

  &__menu {
    @media (max-width: 767.98px) {
      display: none;
      flex-direction: column;
      justify-content: center;
      z-index: 3;
      background: $green;
      max-width: none;
      width: 100vw;
      padding-bottom: 56px;
      position: fixed;
      top: 56px;
      left: 0;
      right: 0;
      bottom: 0;

      li {
        display: block;
        text-align: center;
        margin-right: 0 !important;

        &:not(:last-child) {
          margin-bottom: 48px;
        }

        a {
          padding: 10px 0;
        }
      }
    }
  }

  &__menu_active {
    @media (max-width: 767.98px) {
      display: flex;
    }
  }
}

.header {
  background: url("../assets/header-bg.png");
  background-size: cover;
  height: 663px;
  padding-top: 65px;

  &__logo {
    margin-top: 80px;
  }

  &__logo img {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &__text {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $brown;

    @media (max-width: 575.98px) {
      font-size: 20px;
    }
  }
}

.quote {
  background: $green;

  h1,
  h2 {
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $off-white;
  }
}

.experience {
  padding-top: 78px;
  background: url("../assets/experience-img.png");
  padding-bottom: 470px;
  background-repeat: no-repeat;
  background-position: center bottom;

  h2 {
    @extend .dark-text;
    font-size: 24px;
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}

.kinds {
  padding-top: 80px;
  margin-bottom: -100px;

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-bottom: 30px;
  }

  @media (max-width: 467px) {
    margin-bottom: 30px;
  }

  &__title {
    @extend .dark-text;
    font-size: 24px;
    text-align: center;
  }

  &__subtitle {
    @extend .dark-text;
    font-family: "PT Serif";
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin-top: 60px;
  }

  &-info {
    margin-top: 60px;

    &__left-text {
      padding-top: 95px;
      text-align: right;

      @media (max-width: 467px) {
        margin-bottom: 60px;
      }

      p {
        position: relative;

        &:before {
          content: "";
          display: block;
          width: 100px;
          height: 1px;
          background: $brown;
          position: absolute;
          top: 12px;
          right: -125px;
          z-index: 2;
        }

        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background: $brown;
          position: absolute;
          top: 8px;
          right: -125px;
          border-radius: 50%;
          z-index: 2;
        }
      }

      p:not(:last-child) {
        margin-bottom: 55px;
      }

      span {
        color: #ce1417;
        font-weight: bold;
      }
    }

    &__left-bottle {
      text-align: right;
      z-index: 1;
    }

    &__right-text {
      padding-top: 95px;

      p {
        position: relative;

        &:before {
          content: "";
          display: block;
          width: 100px;
          height: 1px;
          background: $brown;
          position: absolute;
          top: 12px;
          left: -125px;
          z-index: 2;
        }

        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background: $brown;
          position: absolute;
          top: 8px;
          left: -125px;
          border-radius: 50%;
          z-index: 2;
        }
      }

      p:not(:last-child) {
        margin-bottom: 254px;
      }

      span {
        color: $green;
        font-weight: bold;
      }
    }
  }
}

.kinds-sections {
  line-height: 1.56;

  @media (max-width: 991.98px) {
    background-image: none !important;
  }

  .kind-section__title {
    font-size: 48px;
    font-family: "PT Serif";
    margin-bottom: 60px;
  }

  .kind-section__description {
    margin-bottom: 60px;
  }

  .kind-section__list {
    padding-left: 20px;
    list-style-type: circle;
    margin-bottom: 60px;
  }
}

.salads {
  @extend .kinds-sections;
  background: $green;
  background-image: url("../assets/salads-bg.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: -140px 70%;
  padding: 111px 0 23px 0;
  @extend .light-text;

  @media (max-width: 467px) {
    padding-top: 15px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding-top: 15px;
  }

  .kind-section__list {
    color: #bca78b;

    span {
      color: $off-white;
    }
  }
}

.frying {
  @extend .kinds-sections;
  background: $off-white;
  background-image: url("../assets/frying-bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 110% 75%;
  padding: 80px 0;
  @extend .dark-text;

  .kind-section__list {
    color: #bca78b;

    span {
      color: $greyish-brown;
    }
  }
}

.benefit {
  @extend .light-text;
  background: $green;
  padding: 22px 0;

  &__title {
    font-family: "PT Serif";
    font-size: 36px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 60px;
  }

  &__cards {
    padding-top: 30px;
    margin-top: 25px;
    background: url("../assets/svg/benefits-img.svg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 32%;

    @media (max-width: 1199.98px) {
      background-position: center 25%;
    }

    @media (max-width: 767.98px) {
      background-position: center 45%;
    }
  }

  &__img {
    text-align: center;
    background: url("../assets/svg/benefits-img.svg");
    margin-top: -640px;
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 22px 0;
  }

  &__card {
    font-weight: 300;
    margin-bottom: 60px;

    h3 {
      font-size: 24px;
      color: #bca78b;
      font-weight: inherit;
      margin-bottom: 1.1em;
    }
  }

  &__card_left {
    @extend .benefit__card;
    text-align: right;
  }

  &__card_right {
    @extend .benefit__card;
    text-align: left;
  }

  &__card_bottom {
    @extend .benefit__card;
    text-align: center;
  }
}

.quality {
  @extend .dark-text;
  padding: 80px 0 56px 0;

  &__title {
    font-family: PTSerif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 68px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.contacts {
  @extend .light-text;
  background: $green;
  padding-top: 24px;

  &__title {
    font-family: "PT Serif";
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
  }

  &__text {
    text-align: center;
    margin-bottom: 60px;
  }

  #map {
    width: 100%;
    height: 500px;
  }
}

.footer {
  background: $green;
  @extend .light-text;
  padding: 30px 0;

  &__logo {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 575.98px) {

  .salads,
  .frying,
  .benefit__cards {
    background-image: none;
  }

  .benefit__card_left,
  .benefit__card_bottom {
    text-align: left;
  }
}